<!DOCTYPE html>
{% extends 'base/index.html' %}
{% block title %} Koordinatori i partisë demokratike {% endblock %}
{% load static %}
{% block content %}



<section class="koordinatori">
<h1>Z. Edmond STOJKU</h1>
<img src="{% static 'img/adrkrytar.jpg' %}" alt="">
<h2>Z. Edmond STOJKU lindi më 25.09.1964 në Peshkopi, Dibër.</h2>
<p>
   <span style="color: black;"> Arsimi i tij përfshin:</span>
<br>
1983-1989: Fakulteti Mjeksisë, titulluar mjek i përgjithshëm
<br>
1994-1999: Fakulteti i Mjekësisë, Specializim “Imazheri  Diagnostike”,  Universiteti  i Tiranës
<br>
2005-2008: Universiteti Kristal, Fakulteti Juridik
<br>
2007-2008: Master Professional “Menaxhimi shëndetësor në drejtoritë e shëndetit publik”
<br>
2010-2013: Doktor i Shkencave Mjekësore, Fakulteti i Mjekësisë, Universiteti i  Tiranës, Gradë Shkencore me teme “Rëndësia e imazherisë në diagnozën e hershme dhe diagnoza diferenciale e apendisitit akut”
</p>
<p>
  <span style="color: black;">  Eksperienca në punë e z. Stojku përfshin:</span>
<br>
1989-1990: Praktikë profesionale “mjekësi e përgjithshme”, spitali “Rahim Xhika”, Peshkopi
<br>
1990-1994: Mjek i Përgjithshëm, Komuna Kastriot, Dibër.
<br>
1999-2000: Shef shëndetësie në Repartin FNSH, 711
<br>
2001-2005: Shef Shëndetësie, Pedagog në Akademinë e Policisë “Arben Zylyftari”, Tiranë.
<br>
2005-2007: Mjek specialist, Qendra Shëndetësore NR. 7, Tiranë
<br>
2006-1010: Pedagog i jashtëm, në Fakultetin e Infermierisë, Universiteti i Tiranës
<br>
2007-2008: Drejtor i Përgjithshëm i Politikave dhe Planifikimit Shëndetësor, Ministria e Shëndetësisë
<br>
2010-2018: President i “Albanian Life Quality Union”
<br>
2011-2012: Drejtor Ekzekutiv, Qendra Diagnostike “Ikeda”
<br>
2012-2013: Drejtor i  Përgjithshëm i  Shërbimeve Mbështetëse në Ministrinë e Shëndetësisë
<br>
2013-2017 Drejtor Ekzekutiv, Autoriteti Shëndetësor Rajonal, Tiranë.
<br>
2019- Deputet i Kuvendit të Shqipërisë
<br>
2021- Kryetar i “Aleanca Demokracia e Re”
</p>
  </section>
{% endblock content %}