<!DOCTYPE html>
{% extends 'base/index.html' %}
{% block title %} home {% endblock %}
{% load static %}
{% block content %}


<div class="programi">
    <p class="paragraph-1">
        <span class="title">PROGRAMI I PERGJITHSHEM POLITIK, EKONOMIK E SOCIAL</span>
   
        
        Ky segment programor parashtron propozimet kryesore dhe sferat sektoriale dhe shoqërore ku ADR do të kërkojë një ndërhyrje politike, ligjbërëse dhe ekzekutive, me efekte të menjëhershme. Ky Program do të udhëheqë ADR në zgjedhjet e ardhshme parlamentare dhe do të gjejë zbatim të menjëhershëm në përputhje me rezultatin e zgjedhjeve.
        <br><br>
        <span class="subtitle">SYNIMET KRYESORE</span>
        <br><br>
        Synimet kryesore të këtij Programi dhe Objektivat e tij janë si më poshtë:
        <br>
        <ul class="goals-list">
            <li>LUFTË PA KOMPROMIS KUNDER KORRUPSIONIT</li>
            <li>LUFTË NË FRONT TË GJERË KUNDËR INFORMALITETIT NË EKONOMI</li>
            <li>RRITJA E STANDARTIT TË JETESËS SË QYTETARËVE SHQIPTARË</li>
        </ul>
    </p>
</div>
<br><br>
<div class="programi">
    <div class="paragraph-1">
        <span class="title"> PSE KY PROGRAM TANI? </span>

Bota sapo ka hyrë në një epokë të re gjeologjike – Antropocene. Ulja e gjurmës së karbonit nga cdo aktivitet jetësor ekonomik dhe ndalimi i ndryshimit të klimës do t’a shënojë këtë shekull. Kjo dobëson pozitat e ekonomive tradicionale me produktivitet të ulët, të cilat mbështeten mbi hidrokarburet, mbi eksporte lëndësh të para- të papërpunuara që shiten pa vlerë të shtuar, mbi turizmin ekstensiv dhe mbi teknologji të vjetëruara. Njëherësh kjo epokë e re disfavorizon konsumin pa kriter të cdo produkti të përpunuar industrial – ndërsa paralajmërohen rritje kostosh dhe taksash.

Kjo epokë e ekonomisë ricikluese favorizon zhvillimin e qëndrueshëm mbështetur mbi bujqësinë organike, pyllëzimin dhe zgjidhje inteligjente afatgjata për sektorë të vecantë si transporti dhe energjia. Zhvillimi i teknologjisë dhe Inteligjenca Artificiale do të pilotojnë zhvillimin sektorial në drejtime të reja, që kërkojnë një brez të ri të formuar dhe të aftë për t’u adoptuar ndaj kërkesave të reja të tregut.

Tregu i punës gjithashtu do të njohë një ndryshim thelbësor. Por e gjitha është një pikturë që i përket të ardhmes. Ka vetëm një gjë që ne e dimë me siguri: Shqiptarët nuk janë gati për këto ndryshime. As në nivel politikash, as në cilësi institucionesh.

Prej vitit 1993 Shqipëria ka ndjekur rrugën e punësimit masiv, përmes industrisë fason – një model të së cilës – mbështetur mbi aftësitë e gjuhëve të huaja – zbatuan me moshat e reja kompanitë e shumta të telemarketingut pas vitit 2010; edhe kjo industri sot po vdes gradualisht për të njëjtat arsye që u krijua: përfitime të përkohshme fiskale. Eshtë e pritshme që në shkallë vendi ne të ballafaqohemi me një papunësim gradual, por masiv – me një trupë punëmarrësish deri tash të paaftë që t’u përshtaten ndryshimeve.

Per capita, Shqipëria është eksportuesi i dytë në botë i këpucëve – duke qenë një skllav pune i importuesit nr. 1 në botë, Italisë. Duhet të bëhemi gati të shohim një rënie të këtij tregu gjithashtu.

Papunësia në Shqipëri deklarohet zyrtarisht në rreth 6%, por këtu nuk llogariten mbi 41.4% e popullsisë që jeton në fshat – dhe që konsiderohet e vetëpunësuar; po ashtu këtu nuk numërohen as studentët. Mes moshave 15-24 papunësia është mbi 31%.

Një familje në fshat punon e gjitha për të siguruar jetesën – e barabartë në kosto me max.2 rroga buxhetore kundrejt angazhimit minimalisht të 4 personave të rritur për punë. Kjo e bën papunësinë e fshatit të shtojë të paktën 20% mbi shifrën zyrtare 6% që deklarojnë statistikat zyrtare. Në tërësi është e ndershme të themi se papunësia reale në Shqipëri arrin në gati 30%.

Një pjesë e këtyre njerëzve janë emigrantë klandestinë ekonomikë që në mënyrë stinore, me periudha 3 mujore zhvendosen për punë drejt vendeve të BE-së për të mundësuar mbijetesën.

Qytete të caktuar si Shkodra apo Elbasani, por edhe shumë ish-qendra industriale të krijuara si qyteza punëtorësh, kanë sot një papunësi që arrin deri në 40% të forcave aktive për punë.

Por më shumë sesa prej papunësisë, vendi vuan nga tregu i zi i punës. Dy janë fenomenet sunduese të tij:

mosdeklarimi i saktë i numrit të punonjësve efektivë;
deklarimi i pagës së tyre shumë më ulët se vlera reale e pagesës që marrin në dorë.
Ky treg i punës së zezë shkatërron njëherësh disa parametra të një ekonomie normale dhe prish skemën e sigurimeve shoqërore dhe shëndetësore.

Ky treg ushqen informalitetin në nivel të deklarimit fiskal (duke i bërë kompanitë të punojnë me dy balance) dhe deformon ligjshmërinë në tregun monetar.

Shqipëria konsiderohet të ketë një informalitet që arrin 50% të volumit të transaksioneve (sasia e parave që shkëmbehen jashtë kanaleve bankare).

Ne kemi një raport importesh dhe eksportesh që shkon zytarisht 1:4 në favor të importeve, por në të vërtetë raporti është 1 njesi eksport dhe 10 njesi importe, nëse i llogarisim ndershmërisht ri-eksportet. Kjo minon rëndë prodhimin vendas, i cili asnjëherë nuk është favorizuar për të konkuruar me rajonin apo me tregun europian.

Prej vitit 2005 flitet për zëvendësimin e importeve, por asnjë hap substancial nuk është hedhur përpara. Mbështetja ndaj prodhuesve vendas – në të gjithë nivelet ku realizohet ky prodhim –  është URGJENCE KOMBETARE.

Prej vitit 2.000 kur Shqipëria u bë anëtare e Organizatës Botërore të Tregëtisë, administrata shtetërore e ka përdorur këtë si alibi për të shkatërruar prodhimin vendas dhe bashkë me të edhe dhjetra mijëra vende pune. Pyesni industrinë e celikut për këtë. Pyesni industrinë e cimentos për këtë. Pyesni prodhuesit ushqimorë.

Kjo filozofi ka shkatërruar industrinë e lehtë përpunuese, mos-ekzistenca e saj ka zbrazur fshatin, kjo filozofi ka veshur qytetin me ghetto duke deformuar tregun e punës me një ofertë informale dhe ka shkatërruar shanset për zhvillim të qëndrueshëm të qendrave urbane. Kjo frymë ka sjellë pushtimin e trojeve në qytet dhe braktisjen e tokave dhe të punës në fshat.

Qysh nga epoka e qeverisë Meksi (1992- 1996) për ministrat shqiptarë ka qenë më e leverdisshme të ngrejnë traun e doganës dhe të marrin zarfin, sesa të presin fitimin që mund t’u jepte nën dorë në terma afatgjatë një prodhues vendas.

Efekti domino’ i politikave të gabuara të ndërmarra prej vitit 1994 ka krijuar një numër pasojash që kërkojnë një ndërhyrje energjike me politika dhe shumë investime për t’u riparuar. Por kjo nuk është e pamundur.

Cka e ka penguar thelbësisht këtë interes që të vijë në shprehje ka qenë pasiguria ligjore e pronës.

Sot në Shqipëri ne kemi tre – në mos katër kategori pronarësh. Në fakt pasiguria ligjore për shkak të korrupsionit të kthyer në institucion, nuk lejon askënd të ndjehet pronar.

Nga ana tjetër, ai që ka ndërtuar pa leje – mjaftohet me faktin që është në process legalizimi, pra nuk ja prishin ndërtimin. Po t’i japin tapinë, ai duhet të fillojë të paguajë taksa. Ai nuk do të paguajë taksa. 

Cfarë pasurish kemi? A e dimë?!

Toka bujqësore mbetet një pasuri e vdekur, përsa kohë nuk është ende e regjistruar. Fermerët nuk janë në gjendje të ngrejnë as një kredi – kundrejt tokës që kanë. Bankat nuk e njohin atë si asset. 

Sot Banka Botërore flet për një dekadë të humbur ekonomike që do të shpenzohet për të rekuperuar dëmet e COVID-19. Përgjatë kësaj dekade rritja ekonomike do të kufizohet në 1.9% në shkallë botërore. Aktualisht Shqipëria ka pësuar një rënie prej 9% të ekonomisë. Nëse kësaj ulje të fuqisë ekonomike i shtohet edhe borxhi i jashtëm, i cili sot arrin mbi 2.8 miliardë dollar – premtimi për rritje ekonomike është i pamundur.

Me një ekonomi që e humb vlerën e shtuar të saj në importe dhe në përpjekjet për të ruajtur ekuilibrin e monedhës vendase ndaj monedhave të forta – Shqipëria pritet madje të ketë një tkurrje të mëtejshme të ekonomisë së saj – shprehur në fenomene si inflacioni, rritja e varfërisë relative, etj.

Remitancat, të cilat deri para dy vjet para COVID-it ruajtën nivelin e 35%, tashmë kanë rënë poshtë 5%. Ne duhet të përgatitemi për fazën kur nuk do t’i kemi më ato. Remitancat mund dhe duhet të zevëndësohen me investime të brendshme. Por jo nëse tregu konsumator vazhdon tkurret financiarisht prej rënies së fuqisë blerëse dhe numerikisht për shkak të emigracionit klandestin ekonomik. Vetëm në vitin 2020 konsumi në Shqipëri ka rënë me 8% sipas Bankës Botërore.

Largimi i profesionistëve dhe i njerëzve të shkolluar është një tjetër pasojë psikologjike e një krize të gjatë menaxhimi të vendit. Programet e luftës ndaj Ikjes së Trurit deri tani kanë qenë retushe.

Ne jemi përballë rrezikut që me rritjen e rolit të sektorit të shëndetësisë në nivel global, krejt trupa e mjekëve dhe infermierëve shqiptarë të rivendoset në vende të ndryshme europiane duke lënë pas një gropë të frikshme. Rritja e rrogave është vetëm një pjesë e zgjidhjes së problemit.

Dinjiteti i këtij grupi professional kërkon një ri-dimensionim të plotë në mënyrën e organizimit të sektorit – dhe njëherësh një politikë të ashpër kundër korrupsionit.

Specialistët e cdo fushe që tranzicioni i nxori jashtë kornizës së tregut mbeten një asset i jashtëzakonshëm për fuqizimin e ekonomisë vendore dhe për politikëbërjen sektoriale.

Sa e vështirë është që licensimi i cdo kompanie të kërkojë praninë në stafet e tyre të specialistëve? Sa e vështirë është që kur shteti zgjedh furnitorë për tenderat e tij të panumërt, ta ketë pjesë të kushteve kualifikimin e lartë dhe përvojën e stafeve të këtyre firmave? Dhe kështu ne i ri-integrojmë ata me dinjitet në tregun e punës…

Në mënyrën më immediate ne duhet të rimodelojmë shkollën në përputhje me karakteristikat e tregut të punës. Ne kemi sot një shkollë që prodhon të papunë dhe emigrantë. Ne kemi një system, i cili nuk ndërton shpirtin e garës mes nxënësve, por ju ha shpirtin prindërve për të paguar kurse private në shkëmbim të notës nga i njëjti mësues. Ne duhet të ri-modelojmë rolin dhe pozitën e mësuesit dhe ta bëjmë atë të denjë.

Vendet e punës në arsim duhet të fitohen me konkurs. Cdo rast korrupsioni në arsim është një vrasje afatgjatë e shpirtit të së drejtës së fëmijëve tanë.

Të gjitha këto ndërhyrje kërkojnë fonde. Por krejt ushtria e buxhetorëve në Shqipëri nuk i kalon 168.000 mijë njerëz. Po sikur të ndajmë për këtë kategori – sipas roleve – një rrogë të denjë europiane, duke ju kërkuar maksimalizimin e shërbimit ndaj publikut dhe dhënien fund të cdo praktike korruptive, mos vallë do të zbulojmë se befas fondet e mbledhura si taksa dhe tatime na dalin e na teprojnë?!

Ne kemi një ekonomi që prodhon në mallra dhe shërbime mbi 35 miliard dollarë në vit sipas treguesit më të pëlqyer në matjen e Prodhimit të Brendshëm Brutto sipas fuqisë së barabartë të blerjes. Vetëm 15 miliard prej tyre figurojnë si GDP me normën zyrtare të shkëmbimit valuator. Prej këtyre buxheti i shtetit injekton 5.2 miliardë. Dhe e bën këtë duke u zhytur cdo vit në borxh, pa mundur as të paguajë borxhin ekzistues, as të rezistojë pa marrë borxh të freskët.

Pavarësisht kësaj, falë strukturës ekonomike ne vazhdojmë të kemi bilanc tregëtar negativ (dmth humbim sa herë blejmë jashtë për të shitur brenda vendit), bilanc të shpenzimit buxhetor negativ (dmth më shumë shpenzojmë sesa mbledhim të ardhura si shtet) dhe në këto kushte edhe rritje ekonomike negative.
<br>
<span class="underline-program">Shqipëria nuk duhet të ketë frikë të ndërmarrë hapa reformues të thellë sepse në themel – në këto kushte nuk ka asgjë për të humbur. Ne jemi në një humbje të pastër, që vetëm thellohet.

Parimi i cdo reforme që ndikon në përmirësimin e performancës ekonomike të vendit duhet të jetë Ndershmëria, barazia para ligjit dhe rritja e parashikueshmërisë ekonomike për cdo subjekt – individual apo ligjor – përballë administratës dhe logjikës politike të zhvillimit.

Ne duhet të shmangim cdo hendek ligjor apo administrativ për krijimin e lakoreve korruptive në sjelljen e njerezve, subjekteve ekonomike apo shtetërore.

Ne duhet të adresojmë problemet e së kaluarës së largët e të afërt, me po atë përkushtim e ndershmëri me të cilën do të adresojmë problemet e së tashmes dhe sfidat e së ardhmes.

Një ndryshim rrënjësor i sjelljes së individëve mbi parime të ripërtërira të së drejtës, mbi vizione komunitare, mbi një logjikë ligjore dhe me një superstrukturë që paraprin dhe pasqyron këtë ndryshim shoqëror është i domosdoshëm.

Cdo zgjidhje politike, ekonomike apo institucionale e cila në të shkuarën ka rezultuar e suksesshme për cilësinë e jetës së qytetarit shqiptar është për ne e vlerë dhe e konsiderueshme, brenda një vullneti politik që e bën atë të zbatueshme dhe të qëndrueshme në efekte.

Ky Program politik ka në qendër Qytetarin dhe Interesin e tij. Ai ndërtohet mbi Ndershmërinë dhe të Vërtetën dhe mbështet vizionin afatgjatë të një Shqipërie moderne, të integruar në Europë dhe të denjë në imazhin e saj.
</span>
</div>
</div>

{% endblock content %}